<a href="https://colab.research.google.com/github/Jalagari-Sri-Charan/Gpcet/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dataset=pd.read_csv('Data.csv')

In [ ]:
 dataset.tail(2)

   Country   Age   Salary Purchased
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
X=dataset.iloc[:,:-1].values

In [ ]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [ ]:
Y=dataset.iloc[:,-1].values

In [ ]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer.fit[:,1:3]
imputer.transform()

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
X=ct.fit_transform(X)
print(X)

[[1.0 0.0 1.0 0.0 0.0 44.0 72000.0]
 [0.0 1.0 0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 1.0 0.0 30.0 54000.0]
 [0.0 1.0 0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 1.0 0.0 0.0 35.0 58000.0]
 [0.0 1.0 0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 1.0 0.0 0.0 37.0 67000.0]]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y=le.fit_transform(Y)
print(Y)

[0 1 0 0 1 1 0 1 0 1]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X[:,[-2,-1]]=sc.fit_transform(X[:,[-2,-1]])
print(X)

[[1.0 0.0 1.0 0.0 0.0 0.7588743615900191 0.7494732544921673]
 [0.0 1.0 0.0 0.0 1.0 -1.7115038793306812 -1.4381784072687536]
 [0.0 1.0 0.0 1.0 0.0 -1.2755547779917342 -0.8912654918285233]
 [0.0 1.0 0.0 0.0 1.0 -0.1130238410878752 -0.25320042381492147]
 [0.0 1.0 0.0 1.0 0.0 0.17760889313808956 2.357833340847479e-16]
 [1.0 0.0 1.0 0.0 0.0 -0.5489729424268224 -0.5266568815350365]
 [0.0 1.0 0.0 0.0 1.0 1.1102230246251565e-16 -1.0735697969752667]
 [1.0 0.0 1.0 0.0 0.0 1.3401398300419487 1.3875383225057691]
 [0.0 1.0 0.0 1.0 0.0 1.6307725642679132 1.752146932799256]
 [1.0 0.0 1.0 0.0 0.0 -0.25834020820085757 0.2937124916253087]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
print(X_train)

[[0.0 1.0 0.0 1.0 0.0 -1.2755547779917342 -0.8912654918285233]
 [0.0 1.0 0.0 0.0 1.0 -0.1130238410878752 -0.25320042381492147]
 [1.0 0.0 1.0 0.0 0.0 -0.5489729424268224 -0.5266568815350365]
 [0.0 1.0 0.0 0.0 1.0 1.1102230246251565e-16 -1.0735697969752667]
 [1.0 0.0 1.0 0.0 0.0 -0.25834020820085757 0.2937124916253087]
 [1.0 0.0 1.0 0.0 0.0 1.3401398300419487 1.3875383225057691]
 [0.0 1.0 0.0 1.0 0.0 1.6307725642679132 1.752146932799256]
 [0.0 1.0 0.0 1.0 0.0 0.17760889313808956 2.357833340847479e-16]]

In [ ]:
print(Y_train)

[0 0 1 0 1 1 0 1]

In [ ]:
print(X_test)

[[1.0 0.0 1.0 0.0 0.0 0.7588743615900191 0.7494732544921673]
 [0.0 1.0 0.0 0.0 1.0 -1.7115038793306812 -1.4381784072687536]]

In [ ]:
print(Y_test)

[0 1]